In [1]:
from MET import cargar_resultados

In [2]:
estacion='MER'
evaluacion = cargar_resultados(estacion)

>random_forest_Originales
>random_forest_MinMax
>random_forest_Zscore
>k_nearest_neighbor_Originales
>k_nearest_neighbor_MinMax
>k_nearest_neighbor_Zscore
>support_vector_machine_Originales
>support_vector_machine_MinMax
>support_vector_machine_Zscore
>gradient_boosting_Originales
>gradient_boosting_MinMax
>gradient_boosting_Zscore

# Random Forest

In [3]:
evaluacion['random_forest_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP     MAE    RMSE     R2
1  2  10.164  14.632  0.720

In [4]:
evaluacion['random_forest_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP     MAE    RMSE     R2
1  2  10.164  14.632  0.720

In [5]:
evaluacion['random_forest_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP     MAE    RMSE     R2
1  2  10.164  14.632  0.720

# k_nearest_neighbor

In [6]:
evaluacion['k_nearest_neighbor_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP     MAE    RMSE     R2
5  6  10.069  14.873  0.711

In [7]:
evaluacion['k_nearest_neighbor_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE    RMSE     R2
2  3  8.370  12.964  0.780

In [8]:
evaluacion['random_forest_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP     MAE    RMSE     R2
1  2  10.164  14.632  0.720

# SVM

In [9]:
evaluacion['support_vector_machine_Originales']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.724  211.340  14.538   9.400  0.833
1    poly  0.410  450.974  21.236  14.231  1.630
2     rbf  0.670  252.068  15.877  10.414  1.033

In [10]:
evaluacion['support_vector_machine_MinMax']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.726  209.452  14.472  10.195  1.351
1    poly  0.736  202.060  14.215  10.347  1.395
2     rbf  0.782  166.420  12.900   9.539  1.291

In [11]:
evaluacion['support_vector_machine_Zscore']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.728  207.912  14.419   9.401  0.868
1    poly  0.698  230.955  15.197  10.457  1.138
2     rbf  0.783  165.760  12.875   8.414  0.705

# gradient_boosting

In [12]:
evaluacion['gradient_boosting_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP     MAE    RMSE     R2
19  20  10.039  16.022  0.664

In [13]:
evaluacion['gradient_boosting_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP     MAE    RMSE     R2
19  20  10.014  16.195  0.657

In [14]:
evaluacion['gradient_boosting_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP     MAE    RMSE     R2
17  18  10.018  15.998  0.665