In [1]:
from MET import cargar_resultados

In [2]:
estacion='XAL_MER_AJM'
evaluacion = cargar_resultados(estacion)

>random_forest_Originales
>random_forest_MinMax
>random_forest_Zscore
>k_nearest_neighbor_Originales
>k_nearest_neighbor_MinMax
>k_nearest_neighbor_Zscore
>support_vector_machine_Originales
>support_vector_machine_MinMax
>support_vector_machine_Zscore
>gradient_boosting_Originales
>gradient_boosting_MinMax
>gradient_boosting_Zscore

# Random Forest

In [3]:
evaluacion['random_forest_Originales'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      20 non-null     object
 1   R2      20 non-null     float64
 2   MSE     20 non-null     float64
 3   RMSE    20 non-null     float64
 4   MAE     20 non-null     float64
 5   MAPE    20 non-null     float64
dtypes: float64(5), object(1)
memory usage: 1.1+ KB

In [4]:
evaluacion['random_forest_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE   RMSE     R2
19  20  8.416  11.94  0.774

In [5]:
evaluacion['random_forest_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE    RMSE     R2
16  17  8.405  11.909  0.775

In [6]:
evaluacion['random_forest_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE    RMSE     R2
19  20  8.405  11.914  0.775

# k_nearest_neighbor

In [7]:
evaluacion['k_nearest_neighbor_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE    RMSE     R2
19  20  9.915  13.836  0.696

In [8]:
evaluacion['k_nearest_neighbor_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE    RMSE     R2
5  6  8.421  12.019  0.771

In [9]:
evaluacion['random_forest_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE    RMSE     R2
19  20  8.405  11.914  0.775

# SVM

In [10]:
evaluacion['support_vector_machine_Originales']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.670  207.725  14.413   9.873  0.729
1    poly  0.501  314.682  17.739  12.425  1.196
2     rbf  0.668  209.343  14.469  10.030  0.808

In [11]:
evaluacion['support_vector_machine_MinMax']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.670  208.304  14.433  10.705  1.221
1    poly  0.700  189.423  13.763  10.275  1.168
2     rbf  0.741  163.110  12.771   9.685  1.183

In [12]:
evaluacion['support_vector_machine_Zscore']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.674  205.691  14.342   9.885  0.779
1    poly  0.643  225.343  15.011  10.591  0.948
2     rbf  0.753  155.743  12.480   8.602  0.678

# gradient_boosting

In [13]:
evaluacion['gradient_boosting_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE    RMSE     R2
7  8  8.133  11.655  0.785

In [14]:
evaluacion['gradient_boosting_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE    RMSE     R2
7  8  8.138  11.683  0.783

In [15]:
evaluacion['gradient_boosting_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE   RMSE     R2
7  8  8.133  11.66  0.784