In [1]:
from MET import cargar_resultados

In [2]:
estacion='XAL'
evaluacion = cargar_resultados(estacion)

>random_forest_Originales
>random_forest_MinMax
>random_forest_Zscore
>k_nearest_neighbor_Originales
>k_nearest_neighbor_MinMax
>k_nearest_neighbor_Zscore
>support_vector_machine_Originales
>support_vector_machine_MinMax
>support_vector_machine_Zscore
>gradient_boosting_Originales
>gradient_boosting_MinMax
>gradient_boosting_Zscore

# Random Forest

In [3]:
evaluacion['random_forest_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE   RMSE     R2
18  19  6.146  8.609  0.787

In [4]:
evaluacion['random_forest_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE   RMSE     R2
19  20  6.162  8.634  0.785

In [5]:
evaluacion['random_forest_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE   RMSE     R2
19  20  6.160  8.613  0.786

# k_nearest_neighbor

In [6]:
evaluacion['k_nearest_neighbor_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE    RMSE     R2
10  11  7.393  10.152  0.703

In [7]:
evaluacion['k_nearest_neighbor_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE   RMSE     R2
2  3  6.208  8.858  0.774

In [8]:
evaluacion['random_forest_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP    MAE   RMSE     R2
19  20  6.160  8.613  0.786

# SVM

In [9]:
evaluacion['support_vector_machine_Originales']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.703  103.182  10.158   7.211  0.781
1    poly  0.432  197.409  14.050  10.198  1.374
2     rbf  0.658  118.728  10.896   7.786  0.921

In [10]:
evaluacion['support_vector_machine_MinMax']

       HP     R2      MSE    RMSE    MAE   MAPE
0  linear  0.703  103.041  10.151  7.564  1.033
1    poly  0.721   96.809   9.839  7.314  1.016
2     rbf  0.764   81.895   9.050  6.907  1.026

In [11]:
evaluacion['support_vector_machine_Zscore']

       HP     R2      MSE    RMSE    MAE   MAPE
0  linear  0.705  102.491  10.124  7.228  0.806
1    poly  0.668  115.479  10.746  7.860  0.963
2     rbf  0.766   81.294   9.016  6.285  0.667

# gradient_boosting

In [12]:
evaluacion['gradient_boosting_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE   RMSE     R2
7  8  6.058  8.692  0.783

In [13]:
evaluacion['gradient_boosting_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE   RMSE     R2
7  8  6.067  8.706  0.782

In [14]:
evaluacion['gradient_boosting_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE   RMSE     R2
7  8  6.087  8.659  0.784