In [1]:
from MET import cargar_resultados

In [2]:
estacion='AJM'
evaluacion = cargar_resultados(estacion)

>random_forest_Originales
>random_forest_MinMax
>random_forest_Zscore
>k_nearest_neighbor_Originales
>k_nearest_neighbor_MinMax
>k_nearest_neighbor_Zscore
>support_vector_machine_Originales
>support_vector_machine_MinMax
>support_vector_machine_Zscore
>gradient_boosting_Originales
>gradient_boosting_MinMax
>gradient_boosting_Zscore

# Random Forest

In [3]:
evaluacion['random_forest_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP     MAE    RMSE     R2
17  18  10.601  14.779  0.698

In [4]:
evaluacion['random_forest_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP     MAE    RMSE     R2
15  16  10.604  14.774  0.698

In [5]:
evaluacion['random_forest_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP     MAE    RMSE     R2
19  20  10.592  14.764  0.698

# k_nearest_neighbor

In [6]:
evaluacion['k_nearest_neighbor_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP     MAE    RMSE     R2
10  11  12.754  17.707  0.566

In [7]:
evaluacion['k_nearest_neighbor_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP    MAE    RMSE     R2
2  3  10.75  15.405  0.671

In [8]:
evaluacion['random_forest_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

    HP     MAE    RMSE     R2
19  20  10.592  14.764  0.698

# SVM

In [9]:
evaluacion['support_vector_machine_Originales']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.546  328.166  18.115  12.872  0.493
1    poly  0.355  465.626  21.578  15.465  0.624
2     rbf  0.498  362.690  19.044  13.349  0.526

In [10]:
evaluacion['support_vector_machine_MinMax']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.558  319.259  17.868  12.893  0.535
1    poly  0.606  284.740  16.874  12.322  0.510
2     rbf  0.656  248.624  15.768  11.463  0.470

In [11]:
evaluacion['support_vector_machine_Zscore']

       HP     R2      MSE    RMSE     MAE   MAPE
0  linear  0.548  326.258  18.063  12.862  0.496
1    poly  0.520  346.431  18.613  13.283  0.543
2     rbf  0.635  263.268  16.226  11.472  0.439

# gradient_boosting

In [12]:
evaluacion['gradient_boosting_Originales'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP     MAE    RMSE     R2
8  9  10.429  14.565  0.706

In [13]:
evaluacion['gradient_boosting_MinMax'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP     MAE    RMSE     R2
8  9  10.466  14.762  0.698

In [14]:
evaluacion['gradient_boosting_Zscore'].sort_values(['MAE','RMSE','R2']).head(1)[['HP','MAE','RMSE','R2']]

  HP     MAE    RMSE     R2
5  6  10.448  14.693  0.701